<!doctype html>
<head>
    <title>Hello Azure - Python Simple Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
    <body>
        <main>
            <div class="px-4 py-3 my-2 text-center">
                <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
                <h1 class="display-6 fw-bold text-primary">Welcome to Azure</h1>            
            </div>
        </main>
    </body>
</html>